.n{
    width: 1%;
    background-color: #055646;
  }
  .sidebar .active {
    border-radius: 5px;
    box-shadow: 0 2px 5px 0 rgb(0 0 0 / 16%), 0 2px 10px 0 rgb(0 0 0 / 12%);
  }
  
  .sidebar-sticky {
    position: relative;
    top: 0;
    height: calc(100vh - 48px);
    padding-top: 0.5rem;
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
  }
  
  /* Sidebar */
  .sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    padding:  0 0; /* Height of navbar */
    box-shadow: 0 2px 5px 0 rgb(0 0 0 / 5%), 0 2px 10px 0 rgb(0 0 0 / 5%);
    width: 220px;
    z-index: 600;
    
  }
  
  item.active {
   
    border-left: 4px solid #fff !important;
  }
  
  .btn-color:hover{
    background-color: rgb(1, 36, 1);
  
    
  }
  .btn-color{
    width: 100;
    padding-top: 100;
  }
  .btn{
    border-radius: 0 !important;
    height: 50px;
    font-size: 20px;
    font-weight: 500;
    line-height: 24px;
    color: #fefefe;
    padding: 0 30px;
    border-left: 4px solid transparent;
    margin-bottom: 10px;
    font-family: 'Source Sans Pro', sans-serif !important;
    text-align: left;
    
  
    
  }
  .mx-3{
    margin-right: 0!important; 
    margin-left: 0!important;
    border-radius: 0;
  }
  
  .active{
    background-color: #022a22;
    border-left: 4px solid #fff !important;
    border-radius: 0;
  }
  
  .horizontal{
    margin-top: 20vmax;
    color: white;
    
  }

  .issue{
    color: white;
    position: relative;
    top: 20px;
    font-weight: lighter !important;
    left: 40px;
  }
  .side-help{
    background-color: rgba(255, 255, 255, 0.08);
    width: 70%;
    color: inherit;
    font-size: 18px;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 600;
    border: 0;
    border-radius: 4px !important;
    padding: 0.5rem 0;
    position: relative;
    top: 40px;
    left: 20px;
    
  }
  .side-get{
    color: white;
  }
  .logo{
    height: 70px;
    width: 220px;
    position: relative;
    bottom: 33px;
  }